#wrapper {
    border: none;
    margin: 0;
    padding: 0%;
    min-width: 200px;
    width: 100%;
}

.box {
    background: #ffffff;
    width: 92%;
    padding: 2%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #999999
}

.image-box {
    padding: 0% 2% 2% 0%;
    max-width: 100px;
}

.search-button {
    display: none;
}

#jobs-at-content {
    display: none;
}

.logo {
    display: none;
}

#inner-content {
    padding: 10px 1em;
}

#no-mob {
    display: none;
}

#top-jobs-content {
    padding: 1em 0;
}

#header-content {
    padding-top: .8em;
}

.vacancies-of-the-day {
    display: inline-block;
}

.vacancies-of-the-day-item {
    width: 100%;
}

.button-post {
    color: #333;
    border-color: #333;
}

#news ul {
    display: initial;
}

#news-content {
    width: none;
}

#newsy {
    margin: 1em 0;
    padding: 0;
    width: 25%;
    font-size: .85em;
    line-height: 1.4em;  
}


#news-content {
    width: none;
   }

.width-900 {
    width: 100%;
}

.button-post:hover {
    color: #fff;
    background-color: #333;
}

.short-descr {
    height: 6em; width: 100%;
}

.descr {
    height: 20em; width: 100%;
}

.post-button {
    width: 100%;
}

#reklama-bleat {
    display: none;
}

#mobad {
    display: block;
    height: 4.5em;
}


#featured-jobs-content {
    min-width: 0;
    max-width: 100%;
    margin: 1em;
}

#featured-jobs-content {
    min-width: 0;
}

.no-mob-view {
    display: none;
}
.nav-search-bar {
    width: 100%;
    margin-right: 5px;
}

.only-mob-view {
    display: inline;
}

.mob-button-44 {
    width: 50%;
    margin: 0;
}

.mob-button-100 {
    width: 100%;
    margin: 1%;
}

.mobwrapper {
    margin: 1em;
}

#vacancy-details-content .vacancy-properties {
    padding: .5em .5em;
}

.salary-value {
    font-size: .8em;
}
.salary-level {
    font-size: .8em;
}

#vacancy-details-content .salary-content {
    width: 25%;
    margin: 0;
}

#sign-in-content {
    margin: 0; width: 100%;
}

#footer-content {
    position: relative;
    bottom: 0;
}
#sign-up-content {
    margin-top: 25px;
    margin: 25px auto;
    width: 100%;
}

