*, html {
    font-family: "Segoe UI", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    color: #333;
   
}

body { 
    background: #fff;
    margin: 0%; 
    padding: 0%;
    height: 100%;
}

#header-content {
    margin: 0%;
    padding: 1% 2% 0 2%;
    
    background-color: #f2f2f2;
    /*background-color: rgb(36, 41, 46); */
    height: 50px;
    display: flex;
}

#nav-bar-content {
    margin: 0%;
    padding: 0 2%;
    background-color: #2f2f2f;
    height: 3em;
}

#banner-content {
    margin: 0%;
    background-color: #ffffff;
    height: 314px;
    /*max-width: 1600px;*/
    margin: 0 auto;
    padding-top: 20px;
    height: 314px;
    color: #fff;
    background: url(/template/img/banner.jpg) 0 50% no-repeat;
    background-position-x: center;
    background-size: cover;
    overflow: hidden;
    padding: 20px 2%;
}

#top-jobs-content {
    margin: 0% auto; 
    padding: 2%;
    background-color: #fff;
    display: flex;
}

#main-content {
    margin: 0% auto; 
    padding: 2%;
    background-color: #eee;
}

#jobs-at-content {
    border-right: 1px solid #cbd1d4;
    max-width: 250px;
    min-width: 250px;
}

#featured-jobs-content {
    margin-left: 25px;
    
}

#jobs-at-content ul {
    list-style: none;
}

#jobs-at-content ul li {
    padding-top: 4px;
    padding-bottom: 4px;
}

#inner-content {
    height: auto
}

#footer-content {
    clear: both;
    margin: 0%;
    padding: 2%;
    background-color: #fff;
    height: 70px;
    /*border-top: 1px solid rgb(224, 223, 222);*/
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
    padding: 0;
}

.logo {
    margin-top: 5px;
    margin-right: 2em; 
    width: 120px;
}
.nav-search-bar {
    margin-left: 5px;
    display: flex;
}

.search-input {
    height: 38px;
    padding-left: 10px; 
    border-style: none;
    border: 1px solid #cbd1d4;
    outline: none;
    width: 100%;
    background-color: #fff;
    color: rgb(153, 153, 153);
    display: inline-block;
    box-sizing: border-box;
    
}

.select-category {
    height: 38px;
    border-style: none;
    border: 1px solid #cbd1d4;
    outline: none;
    width: 130px;
    background-image: url(/template/img/select_min.svg);
    background-position: 100% 50%;
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 38px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: -1px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 25px;
    padding-top: 0px;
    position: relative;
    width: 140px;
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    
}

.search-button {
    color: #fff;
    border-style: none;
    border: .1em solid rgb(29, 152, 220);
    border-color: rgb(29, 152, 220);
    background-color: rgb(29, 152, 220);
    
    width: 110px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding: 8px 14px;
    letter-spacing: .06em;
    margin: 0 .6em;

    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    
}

.search-button:hover {
    color: #fff;
    cursor: pointer;
    border-color: #0088cc;
    background-color: #0088cc;
}

.search-button:active {
    outline: none;
}


.footer-ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    text-decoration: none;
    font-size: .7em;
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(153, 153, 153);
}

a {
    text-decoration: none;
    color: #0088cc;
    /*color: rgb(153, 153, 153) */
}

a:hover {
    color: rgb(29, 152, 220);
}

.footer-li {
    padding-right: 5px;
    border-right: 1px solid rgb(153, 153, 153);
}

.footer-li-end {
    padding-left: 5px;
}

.gray-text {
    color: rgb(153, 153, 153);
}

.white-text {
    color: #fff;
}

.dark-gray-text {
    color: #333;
}

.nav-bar-ul {
    list-style: none;
    text-decoration: none;
    font-size: .8em;
    margin: 0;
}

.nav-bar-li:hover {
    background-color: rgb(70, 70, 70);
    color: rgb(230, 230, 230);
    height: 3em;
}

ul {
    padding-left: 0;
}

/* nav bar */
#nav{
	float: left;
	width: 100%;
	list-style: none;
}
#nav li{
	float: left;
	margin-right: 5px;
	position: relative;
    display: block;
}
#nav li a{
	display:block;
	color: #fff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 15px;
    padding-bottom: 15px;
}
#nav li a:hover{
    color: #fff;
    padding-left: 10px;
    padding-right: 10px; 
    padding-top: 15px;
    padding-bottom: 15px;
	background: rgb(70, 70, 70);
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style: none;
	position: absolute;
	left: -9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity: 0; /* Устанавливаем начальное состояние прозрачности */
}
#nav ul li{
	padding-top: 1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float: none;
}
#nav ul a{
	white-space: nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display: block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left: 0; /* Приносим его обратно на экран, когда нужно */
	opacity: 1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background: rgb(70, 70, 70);
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration: none;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background: #333;
    background: rgba(51, 51, 51, 0.95); /* Будет полупрозрачным */
    transform: scale(1.05);
	
}




.button-post {
    
    color: #fff;
    border-style: none;
    border: .1em solid #fff;
    background-color: inherit;
    
    cursor: pointer;
    text-align: center;
    width: 160px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding: 8px 14px;
    letter-spacing: .06em;
    margin: 0 .6em;
    
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none; 
}

.button-post:hover {
    color: #333;
    background-color: #fff;
}

.jobs-count {
    float: right;
    margin-right: 25px;
    color: #aaa;
}


.vacancies-of-the-day-item {
    margin: 10px 20px 10px 0;
    background: #ffffff;
    padding: 1%;
    width: 43%;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f2f2f2;
}

.vacancy-of-the-day-title {
    display: block;
    color: #333;
}

.vacancy-of-the-day-title:hover {
    color: rgb(29, 152, 220);
}

.vacancy-of-the-day-salary {
    display: block;
    color: #333;
}

.vacancy-of-the-day-company {
    color: #555555;
    font-size: .8em;
}

.vacancy-of-the-day-company:hover {
    color: rgb(29, 152, 220);
}

.work-in-industry-ul {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(51, 51, 51);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(51, 51, 51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51, 51, 51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51, 51, 51);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(51, 51, 51);
    column-gap: 60px;
    column-width: 260px;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 21px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    outline-color: rgb(51, 51, 51);
    outline-style: none;
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    margin-top: 10px;
}

.work-in-industry-ul li {
    margin: 10px 0;
}

.work-in-industry-ul li a{
    color: #333;
}

.work-in-industry-ul li a:hover{
    color: rgb(29, 152, 220);
}


/* POST A VACANCY */
#post-a-vacancy-content {
    margin-top: 25px;
}


/* SIGN UP */
#sign-up-content {
    margin-top: 25px;
    margin: 25px auto;
    width: 30%;
}

/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: none;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 10px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px;
	background: #f1f1f1;
}

/* Изменения стиля переключателей вкладок при наведении */
 
.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #0088cc;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4, #tab5:checked~#content-tab5, #tab6:checked~#content-tab6, #tab7:checked~#content-tab7, #tab8:checked~#content-tab8 {
	display: block;
}
/* Убираем текст с переключателей 
* и оставляем иконки на малых экранах
*/
 
@media screen and (max-width: 680px) {
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы 
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}




.input-text {
    height: 38px;
    border-style: none;
    border: 1px solid #cbd1d4;
    outline: none;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    height: 38px;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: -1px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 25px;
    padding-top: 0px;
    position: relative;
    width: 200px;
    -moz-appearance: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;

    margin-top: 10px;
    
}



.post-button {
    color: #fff;
    border-style: none;
    border: .1em solid rgb(29, 152, 220);
    border-color: rgb(29, 152, 220);
    background-color: rgb(29, 152, 220);
    
    width: 110px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding: 8px 14px;
    letter-spacing: .06em;
    margin: 5px .6em;

    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    
}

.post-button:hover {
    color: #fff;
    cursor: pointer;
    border-color: #0088cc;
    background-color: #0088cc;
}

.post-button:active {
    outline: none;
}
.active {
    color: red;
}
.company-name {
    width: 300px;
}

.select-city {
    margin-top: 10px;
}



.respond-button {
    color: #fff;
    border-style: none;
    border: .1em solid #8cb900;
    background-color: #8cb900;
    
    width: 110px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding: 8px 14px;
    letter-spacing: .06em;
    margin: 5px .6em;

    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;

    margin-top: 2em;
    
}

.respond-button:hover {
    color: #fff;
    cursor: pointer;
    border-color: #83AE00;
    background-color: #83AE00;
}

#vacancy-details-content {
    margin-top: 25px;
}

#vacancy-details-content .vacancy-name {
    font-size: 2em;
}

#vacancy-details-content .company-name {
    font-size: .7em;
}

#vacancy-details-content .vacancy-properties {
    background-color: #efefef;

    display: flex;
    padding: 1em 1em;
    margin-top: 2em;
    margin-right: 1em;
}

#vacancy-details-content .salary-content {
    margin-right: 2em;
    margin-bottom: .5em; margin-top: .5em;
}

#vacancy-details-content .salary-level {
    font-size: 1em;
    color: #555;
}

#vacancy-details-content .salary-value {
    display: block;
    font-weight: 600;
}

#vacancy-details-content .vacancy-info {
    max-width: 800px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#vacancy-details-content .info-label {
    font-size: 1.3em;
    color: #555;
}

#vacancy-details-content .info-contact-label {
    font-size: 1em;
    color: #555;
}

#vacancy-details-content .block-phone {
    margin-right: .5em;
}
#vacancy-details-content .block-email {
    margin-right: 1em;
}



/* Cataloge-page */
#vacancy-catalog-content {
    margin-top: 25px;
    display: flex;
}

#vacancy-catalog-content .catalog-side-panel {
    width: 220px;
    border-right: 1px solid #cbd1d4;
    padding-left: 1em;
    padding-top: 1em;
    margin-right: 2em;
    padding-right: 1em;
}

#vacancy-catalog-content .catalog-main {
    display: block;
}

#vacancy-catalog-content .vacancy-title {
    color: #be6013;
    font-weight: 600;
    font-size: 1.16em;
}

#vacancy-catalog-content .vacancy-title:hover {
    color: #0088cc;
}

#vacancy-catalog-content .salary {
    color: #555;
    margin-bottom: .5em;
}

#vacancy-catalog-content .short-description {
    margin-bottom: .5em;
}

#vacancy-catalog-content .company-name {
    font-size: .8em;
    color: #999;
}

#vacancy-catalog-content .city {
    color: #777;
    font-weight: 600;
    font-size: .8em;
}

#vacancy-catalog-content .post-date {
    color: #777;
    font-weight: 600;
    font-size: .8em;
}


.vacancy-postposted {
    margin-bottom: 1.5em;
}


/* Всплывающее окно входа */

.sign-in-button {
    color: #fff;
    border-style: none;
    border: .1em solid #8cb900;
    background-color: #8cb900;
    
    width: 110px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    outline: none;
    padding: 8px 14px;
    letter-spacing: .06em;
    margin: 0 .6em;

    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-align: center;
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    
}

.sign-in-button:hover {
    color: #fff;
    cursor: pointer;
    border-color: #83AE00;
    background-color: #83AE00;
}

.sign-in-button:active {
    outline: none;
}




/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 20;
    margin: 0;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
/* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}
.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);    
}

/* элементы м-медиа, фреймы */
.popup embed, 
.popup iframe {
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0; 
    display:block;
    margin: auto;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
}
.popup h2 { /* заголовок 2 */
    margin: 0;
    color: #008000;
    padding: 5px 0px 10px;
    text-align: left;
    text-shadow: 1px 1px 3px #adadad;
    font-weight: 500;
    font-size: 1.4em;
    font-family: 'Tahoma', Arial, sans-serif;
    line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}
/* News */


.cms-announce {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 391px;
    background: black;
    cursor: pointer;
    margin-bottom: 20px
}
.cms-announce__image {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .8;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s
}
.cms-announce:hover .cms-announce__image {
    opacity: 1
}
.cms-announce__text {
    position: relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    background: -webkit-linear-gradient(left, black, transparent, transparent);
    background: linear-gradient(to right, black, transparent, transparent)
}
.cms-announce__title {
    color: white;
    text-decoration: none;
    font-size: 45px;
    line-height: 50px;
    font-weight: 700;
    max-width: 400px
}
.custom-font-allowed .cms-announce__title {
    font-family: ProximaNovaCond, Arial, sans-serif
}
.cms-announce__announce {
    margin-top: 15px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    max-width: 300px
}
.cms-announce:hover .cms-announce__title {
    text-decoration: underline;
    color: white
}
.cms-announce:hover .cms-announce__announce {
    color: white
}
.cms-announce-tiles {
    margin: 0 -10px
}
.cms-announce-tiles_underlined {
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7
}
.cms-announce-tile {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 0 10px;
    color: #333;
    text-decoration: none;
    margin: 0 0 25px;
    vertical-align: top
}
.cms-announce-tile_optional {
    display: none
}
@media only screen and (max-width: 1019px) {
    .s-friendly .cms-announce-tile {
        width: 33.3%
    }
    .s-friendly .cms-announce-tile_last {
        display: inline-block
    }
    .s-friendly .cms-announce-tile_optional {
        display: inline-block
    }
}
@media only screen and (min-width: 1340px) {
    .cms-announce-tiles {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0
    }
    .cms-announce-tile {
        width: 25%
    }
    .cms-announce-tile_3-4-5 {
        width: 20%
    }
}
.cms-announce-tile:hover {
    color: #09f
}
.cms-announce-tile__image-wrapper {
    background-color: inherit;
    position: relative;
    line-height: 0;
    margin-bottom: 5px;
    overflow: hidden;
}
.cms-announce-tile__image {
    border: 1px;
    border-radius: 10%;
    border-color: #2f2f2f;
    width: 101%;
    opacity: .8;
    z-index: 1;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.cms-announce-tile:hover .cms-announce-tile__image {
    opacity: 1
}
.cms-announce-tile__title {
    color: #333;
    font-size: 14px;
    line-height: 20px
}
.cms-articles-box_market-news,
.cms-articles-box_site-news {
    padding-right: 30px;
    border-right: 1px solid #e0dfde
}
@media(min-width:1340px) {
    .cms-articles-box_events {
        display: none
    }
    .cms-articles-box_market-news,
    .cms-articles-box_site-news {
        padding-right: 0;
        border-right: 0
    }
    .cms-articles-box_market-news {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #e0dfde;
    }
}

.page {
    width:40%;
    height:auto;
    float:right;
    margin-right:18%;

}
.page a{
    display: inline-block;
    font-size:20px;
    border:solid;
    width:5%;
    height: 3%;
    min-width: 20px;
    text-align: center;
    margin: 2px;
}

.page  a:active {
    color: #f00; /* Цвет активной ссылки */ 
   } 


   #newsy {
    margin: 0 2em 0 0; border-right: 1px solid #cbd1d4; padding: 1em;
    padding: 0;
    padding-right: 3em;
   }

   #news-content {
    margin-left:auto;
    margin-right:auto;
    width:900px;
   }

   .width-900 {
    width:900px;
   }


.margin-right {
    margin-right: .5em;
}

#editButton {
    
    color: #333;
    border-style: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    width: 60px;
    font-size: 12px;
    font-weight: 800;
    outline: none;
    padding-bottom: .2em;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-variant-alternates: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none; 
}

#editButton:hover {
    color: rgb(29, 152, 220); 
}

.all-user-vacancies-ul {
    list-style: none;
}

#inner-content-thin {
    margin: 25px 3%; 
}

.short-descr {
    height: 6em; width: 40em;
}

.descr {
    height: 20em; width: 40em;
}

#mobad {
    display: none;
}

#reklama-bleat {
    border: 10px solid orange;
    background: orange;
    width: 250px;
    height: 350px;
    position: relative;
    right: -4%;
}

.only-mob-view {
    display: none;
}

#sign-in-content {
    margin: 1em auto; width: 10%;
}

.wid-100 {
    width: 100%;
    margin: 1%;
}

.error {
    color: rgb(239,84,108);
    margin-left: .2em;
}
.ul-fav {
    list-style: none;
}

.delete {
    background-color: rgb(239,84,108);
    border-color: rgb(239,84,108);
}

.delete:hover {
    background-color: rgb(210, 74, 95);
    border-color: rgb(210, 74, 95);
}

.text-chkbox-show-more {
    display: block;
    position: relative;
}
.text-chkbox-show-more .label-text-show-more {
        cursor: pointer;
        color: #0088cc;
    }
.text-chkbox-show-more .hidden-text {
        display: block;
        overflow: hidden;
        max-height: 0px;
        opacity: 0;
        transition: opacity .3s 0s;
    }
.text-chkbox-show-more    input {
        position: absolute;
        width: 1px; height: 1px;
        top: -20px; left: -20px;
    }
.text-chkbox-show-more    input:checked + .hidden-text {
        max-height: none;
        opacity: 1;
    }    

.substrate {
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    height: 90%;
    float: right;
}


/* Базовый контейнер табов */
.login-tabs {
    min-width: 300px;
	max-width: none;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.login-tabs>section {
	display: none;
	padding: 15px;
    background: none;
	border: none;
}
.login-tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
    color: white;
	
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */
 
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.login-tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.login-tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 10px;
	font-weight: 600;
	text-align: center;
	color: #999;
	border: none;
    
    background: rgba(0, 0, 0, 0.2);
}

/* Изменения стиля переключателей вкладок при наведении */
 
.login-tabs>label:hover {
	color: white;
	cursor: pointer;
}
/* Стили для активной вкладки */
.login-tabs>input:checked+label {
	color: white;
    border: none;
    background: none;
	
}


.social {
    
    
}

.facebook {
    height: 30px;
    min-width: 30px;
    font-size: 12px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    background-color: #4768bb;
    background: url(https://i.hh.ru/bloko/bloko/blocks/icon/fb-icon__min_.svg) 0 no-repeat;
    background-position: -18px 0;
    
}

.linkedin {
    background: url(https://i.hh.ru/bloko/bloko/blocks/icon/li-icon__min_.svg) 0 no-repeat;
    background-position: -18px 0;
}



/* DATE OF BIRTH */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
  /* custom styles
 
  input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  } */